<div class="testing">
  <mat-card-actions style="margin-bottom: 12px">
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog('0ms', '0ms')"
    >
      Crear producto
    </button>
  </mat-card-actions>
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Escriba el nombre del producto"
      #input
    />
  </mat-form-field>
</div>

<section class="example-container mat-elevation-z8" tabindex="0">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ean">
      <mat-header-cell *matHeaderCellDef mat-sort-header> EAN </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ean }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="proveedor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Proveedor
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.proveedor.nombre }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Código del producto
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.codigo }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Nombre del producto
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.nombre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="costo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Costo
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.costo }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" style="margin-right: 12px" (click)="editProduct(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <!-- make header static -->
    <mat-row *matRowDef="let row; columns: displayedColumns; sticky: true">
    </mat-row>
  </mat-table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</section>
