<div class="container add-product-container">
  <div [formGroup]="form">
    <mat-card>
      <h3 style="text-align: center">AGREGAR NUEVO PRODUCTO</h3>
      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Ean</mat-label>
          <input matInput formControlName="ean" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Costo</mat-label>
          <input matInput formControlName="costo" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" class="form-element">
          <mat-label>Proveedor</mat-label>
          <mat-select formControlName="proveedor_id">
            <mat-option
              *ngFor="let proveedor of listSuppliers"
              [value]="proveedor.id"
            >
              {{ proveedor.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="create()">
        Crear
      </button>
    </mat-card>
  </div>
</div>
